<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>IQNAAX | {% block title %} {% endblock title %} </title>
<meta>
<meta>
  <meta name="description" content>
  <meta name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="icon" href="{% static 'images/64632764da717footer-logo.png' %}" sizes="20x20" type="image/x-icon">
  <!-- CSS============================================ -->
  <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnifypopup.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jqueru-ui-min.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}? {% now 'U' %}">
  <link rel="stylesheet" href="{% static 'css/tipped.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}? {% now 'U' %}">
</head>

<body class="sticky-header ">
 <div id="main-wrapper" class="main-wrapper">
    <header class="edu-header header-style-2">

      <div id="edu-sticky-placeholder"></div>
      <div class="header-mainmenu">
        <div class="container">
          <div class="header-navbar">
            <div class="header-brand">
              <div class="logo">
                <a href="/">
              
                <img class="logo-light" src="{% static 'images/6461c8c5e01b7logo.png' %}" alt="Corporate Logo">  
                <img class="logo-dark" src="{% static 'images/6461c8c5e01b7logo.png' %}" alt="Corporate Logo">  
              </a>
              </div>
            </div>
            <div class="header-mainnav">
              <nav class="mainmenu-nav">
                <ul class="mainmenu">
                  <li class="">
                    <a href="/">Home</a>

                  </li>

                  <li class=""><a href="{% url 'about' %}">About Us</a>
                  </li>

                  <li class=""><a href="{% url 'blog' %}">Blog</a>
                  </li>

                  <li class=""><a href="{% url 'gallery' %}">Gallery</a>
                  </li>


                  <li class="has-droupdown"><a href="{% url 'shop' %}">Shop <i class="bi bi-caret-down-fill"></i>
                    </a>
                    <ul class="submenu">
                      <li><a href="{% url 'steam' %}">Steam Products </a></li>
                      <li><a href="{% url 'lab' %}">Creative Lab Products</a></li>
                      <li><a href="#">Workshop</a></li>
                      <li><a href="#">Accessories</a></li>
                      

                    </ul>
                  </li>
                  <li class=""><a href="{% url 'contact' %}">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="header-action">
                <div class="onhover-dropdown header-badge">
                  <button type="button" class="btn p-0 position-relative header-wishlist">
               <a href="{% url 'cart' %}">
                <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
               </a>
               <a href="{% url 'cart' %}">
                      <span class="position-absolute top-0 start-100 translate-middle badge"><span
                        class="cart-count">0{{totalitem}}</span>
                  </a> 

                  <span class="visually-hidden">
                                      </span> 
                    </span>
                  </button>

                  <div class="cart-itemp"></div>
                </div>
                 
                {% if user.is_authenticated %}

          <li class="header-btn"><a href="/profile/" class="edu-btn btn-medium btn-gradient" >Welcome {{request.user}}</a></li>

                {% else %}

                <li class="header-btn">
                  <a href="{% url 'registration' %}" class="edu-btn btn-medium btn-gradient">Login <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor" class="bi bi-forward-fill" viewBox="0 0 16 16">
                      <path
                        d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z" />
                    </svg></a>
                </li>
                <li class="mobile-menu-bar d-block d-xl-none">
                  <button class="hamberger-button">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                      class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                  </button>
                </li>
               
               
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-mobile-menu">
        <div class="inner">
          <div class="header-top">
            <div class="logo">
              <a href="/">
                <img class="logo-light" src="{% static 'images/6461c8c5e01b7logo.png' %}" alt="Corporate Logo">
                <img class="logo-dark" src="{% static 'images/6461c8c5e01b7logo.png' %}" alt="Corporate Logo">
              </a>
            </div>
            <div class="close-menu">
              <button class="close-button">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
          <ul class="mainmenu">
            <li class=""><a href="/">Home</a>

            </li>
            <li class=""><a href="{% url 'about' %}">About Us</a>

            </li>
          <li class="has-droupdown"><a href="{% url 'shop' %}">Shop <span class="ms-2"><i class="bi bi-caret-down-fill"></i></span></a>
              <ul class="submenu">
                <li><a href="#">Robots</a></li>
                <li><a href="{% url 'steam_kits' %}">Steam Kits</a></li>
              </ul>

            </li>

            <li class=""><a href="{% url 'contact' %}">Contact</a>

            </li>

          </ul>
        </div>
      </div>

      <div class="edu-search-popup">
        <div class="content-wrap">
          <div class="site-logo">
            <img class="logo-light" src="{% static 'images/logo-dark.png' %}" alt="Corporate Logo">
            <img class="logo-dark" src="{% static 'images/logo-white.png' %}" alt="Corporate Logo">
          </div>
          <div class="close-button">
            <button class="close-trigger"><i class="icon-73"></i></button>
          </div>
          <div class="inner">
            <form class="search-form" action="#">
              <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
              <button class="submit-button"><i class="icon-2"></i></button>
            </form>
          </div>
        </div>
      </div>

    </header>
   
    <script>
      $(document).ready(function () {
        cartAction('', '');
      });
    </script>

     {% block content %}



    {% endblock %}

<div class="phone-call cbh-phone cbh-green cbh-show  cbh-static" id="clbh_phone_div"><a id="WhatsApp-button"
        href="https://wa.me/1234567890" target="_blank" class="phoneJs" title="WhatsApp 360imagem">
        <div class="cbh-ph-circle"></div>
        <div class="cbh-ph-circle-fill"></div>
        <div class="cbh-ph-img-circle1"></div>
      </a></div>
 <footer class="edu-footer footer-dark bg-image footer-style-3">
      <div class="footer-top">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-3 col-md-6">
              <div class="edu-footer-widget">
                <div class="logo">
                  <a href="/">
                  <img class="logo-light" src="{% static 'images/64632764da717footer-logo.png' %}" alt="Corporate Logo"/>
                  </a>
                </div>
                <p class="description">
                <p>This is a sample of dummy copy text often used to show page layout and design as sample layout text
                  by Graphi designers, Web designers, People creating templates, and many other uses</p>
                </p>

              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="edu-footer-widget explore-widget">
                <h4 class="widget-title">Useful Links</h4>
                <div class="inner">

                  <ul class="footer-link link-hover">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 't&c' %}">Terms And Condition</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="edu-footer-widget quick-link-widget">
                <h4 class="widget-title">Links</h4>
                <div class="inner">
                  <ul class="footer-link link-hover">
                    <li><a href="{% url 'steam' %}">STEAM Products</a></li>
                    <li><a href="{% url 'lab' %}">Creative Lab Products</a></li>
                    <li><a href="{% url 'registration' %}">Login / Registration</a></li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="edu-footer-widget">
                <h4 class="widget-title">Contacts</h4>
                <div class="inner">
                  <div class="widget-information">
                    <ul class="information-list">
                      <li><span><i class="fa fa-map-marker me-2 "></i>:</span>EH 52, Scheme No. 54, Vijay Nagar, Indore,
                        Madhya Pradesh - 452001</li>
                      <li><span><i class="bi bi-telephone-fill"></i> :</span><a href="tel:9826299953">9826299953</a>
                      </li>
                      <li><span><i class="bi bi-envelope-fill"></i> :</span><a href="mailto:info@iqnaax.com"
                          target="_blank">info@iqnaax.com</a></li>
                    </ul>
                  </div>
                  <div>
                    <ul class="social-share icon-transparent pt-4">
                      <li><a href="https://www.facebook.com/" class="color-fb" target="_blank"><i
                            class="bi bi-facebook"></i></a></li>
                      <li><a href="https://in.linkedin.com/" class="color-linkd" target="_blank"><i
                            class="bi bi-linkedin"></i></a></li>
                      <li><a href="https://instagram.com/iqnaax?igshid=MzRlODBiNWFlZA==" class="color-ig"
                          target="_blank"><i class="bi bi-instagram"></i></a></li>
                      <li><a href="https://twitter.com/" class="color-twitter" target="_blank"><i
                            class="bi bi-twitter-x"></i></a></li>
                      <li><a href="https://www.youtube.com/playlist?list=PLY320GwU0IRVfajsGTBLcpaAVLtIA2wMk"
                          class="color-yt" target="_blank"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner text-center">
                <p>Copyright 2023 &copy; <a href="#" target="_blank">IQNAAX Next Generation Education</a>
                  .
                  All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</div>
<div class="rn-progress-parent rn-backto-top-active">
  <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 0;"></path>
  </svg>
</div>

  <!-- JS
	============================================ -->
  <!-- Modernizer JS -->

  <script src="{% static 'js/modernizr.min.js' %}"></script>
  <!-- Jquery Js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/sal.min.js' %}"></script>
  <script src="{% static 'js/backtotop.min.js' %}"></script>
  <script src="{% static 'js/magnifypopup.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/odometer.min.js' %}"></script>
  <script src="{% static 'js/isotop.min.js' %}"></script>
  <script src="{% static 'js/imageloaded.min.js' %}"></script>
  <script src="{% static 'js/lightbox.min.js' %}"></script>
  <script src="{% static 'js/paralax.min.js' %}"></script>
  <script src="{% static 'js/paralax-scroll.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/svg-inject.min.js' %}"></script>
  <script src="{% static 'js/vivus.min.js' %}"></script>
  <script src="{% static 'js/tipped.min.js' %}"></script>
  <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
  <script src="{% static 'js/isInViewport.jquery.min.js' %}"></script>


  <!-- Site Scripts -->
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/fancybox.umd.js' %}"></script>
  <script>
    Fancybox.bind("[data-fancybox]", {
      // Your custom options
    });
  </script>

  
  
  <script>
    $(document).ready(function () {
      cartAction('', '');
    });
  </script>

</body>

</html>