{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Blog Robotics{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images10">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Blog Detail</h1>

        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
         
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Blog Detail</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="blog-details-area section-gap-equal">
          <div class="container">
              <div class="row row--30">
                  <div class="col-lg-8">
                      <div class="blog-details-content">
                          <div class="entry-content">
                              <h3 class="title">{{ blog2_details_conent.title }}</h3>
                              <ul class="blog-meta">
                                  <li><i class="bi bi-calendar-check"></i>{{ blog2_details_conent.date }}</li>
                        
                              </ul>
                              <div class="thumbnail">
                                  <img src="{{ blog2_details_conent.blog2_Detail_Img.url }}" alt="Blog Image">
                              </div>
                          </div>
                        <div><p style="text-align:justify"><strong>{{ blog2_details_conent.heading }}</strong></p>

{% for blog2_details_desc in blog2_details_descs %}

<p style="text-align:justify">{{ blog2_details_desc.desc }}</p>

{% endfor %}

</div>


<p style="text-align:center"><object align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" height="300" width="500"><param name="allowFullScreen" value="true" /><param name="quality" value="autohigh" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="never" /><param name="scale" value="exactfit" /><param name="movie" value="https://youtu.be/TU6sxC1vGx4?feature=shared" /><embed allowscriptaccess="never" height="300" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="autohigh" scale="exactfit" src="https://youtu.be/TU6sxC1vGx4?feature=shared" type="application/x-shockwave-flash" width="500" wmode="window"></embed></object></p>
                         
    </div>                    
                  </div>
                  <div class="col-lg-4">
                      <div class="edu-blog-sidebar">
                  
<div class="edu-blog-widget widget-latest-post">
<div class="inner">
<h4 class="widget-title">Latest Post</h4>
<div class="content latest-post-list">


  {% for latest_post in latest_posts %}

  <div class="latest-post">
  <div class="thumbnail">
  <a href="#">
  <img src="{{ latest_post.latest_img.url }}" alt="Blog Images">
  </a>
  </div>
  <div class="post-content">
  <h6 class="title"><a href="{% url 'blog-detail' latest_post.id %}">
  {{ latest_post.title }}</a></h6>  
  <ul class="blog-meta">
  <li><i class="bi bi-calendar-check"></i>{{ latest_post.date }}</li>
  </ul>
  </div>
  </div>
  
  {% endfor %}
</div>
     </div>
                          </div>
                      
                      </div>
                  </div>
              </div>
          </div>
      </div>      

      {% endblock %}
