{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images1">
   <div class="container">
       <div class="breadcrumb-inner" >
           <div class="page-title">
               <h1 class="title">My Account</h1>
              
           </div>
           <ul class="edu-breadcrumb">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="separator"><i class="icon-angle-right"></i></li>
               <li class="breadcrumb-item"><a href="#">Pages</a></li>
               <li class="separator"><i class="icon-angle-right"></i></li>
               <li class="breadcrumb-item active" aria-current="page">My Account</li>
           </ul>
       </div>
   </div>
  
</div>

                                               
<section class="account-page-area section-gap-equal">   
<div class="container position-relative">
       <div class="row g-5 justify-content-center">
           <div class="col-lg-4 mt-5">
       <img src="{% static '/images/register.webp' %}" alt="">
        </div> 
           <div class="col-lg-6 mt-2">
               <div class="login-form-box registration-form">
                   <h3 class="title mb-3">Register </h3>
                   <form action="" method="post" novalidate class="shadow p-3">
                     {% if messages %} 
                        {% for message in messages %}
                           <p {% if message.tags %} class="alert alert-{{message.tags}}  mb-5 alert-dismissible fade show" role="alert"
                           {% endif %}>{{message}}
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </p>
                        {% endfor %}
                     {% endif %}
                     {% csrf_token %} 
                     {% for fm in form %}
                     <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                     </div>
                     {% endfor %}
                     <center><button type="submit" class="edu-btn">Registar<i class="bi bi-arrow-right Right-icon"></i></button></center>
                     <br>
                     <div class="text-center text-primery fw-bold">
                        <small>Existing User? <a href="{% url 'login' %}" class="text-danger">Login Now</a></small>
                     </div>
                     {% if form.non_fiel_errors %}
                      {% for error in form.non_field_errors %}
                      <p class="alert alert-danger my-3">{{error}}</p>
                      {% endfor %}
                     {% endif %}
                  </form>
                 
      
               </div>
           </div>
       </div>
       <ul class="shape-group">
         <li class="shape-5 scene"><img data-depth="1" src="http://iqnaax.com/images/shape-07.png" alt="Shape"></li>
         <li class="shape-5 scene"><img data-depth="-1" src="http://iqnaax.com/images/shape-13.png" alt="Shape"></li>
         <li class="shape-3 scene"><img data-depth="2" src="http://iqnaax.com/images/shape-02.png" alt="Shape"></li>
      </ul>
   </div>
</section>
{% endblock %}


