{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Lab Products{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images10">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <h1 class="title">Shop</h1>
      </div>
      <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
      </ul>
    </div>
  </div>
</div>
<section>
  <section class="shop-page-area mt--70 mb--70">
    <div class="justify-content-center row">
      <div class="col-lg-11">
        <div class="container">

          <div class="edu-sorting-area">
            <div class="sorting-left">
              <h4 class="showing-text">ROBOTICS SMART MACHINES TOY SETS</h4>
            </div>

            <div class="sorting-right">

           
              <div class="edu-sorting">
                <div class="icon"><i class="icon-55"></i></div>
             
                <select class="common_selector sort edu-select" id="sort">
                    <option value=''>Filters</option>
                    <option value="product_name">Product Name- A to Z</option>
                    <option value="product_nameBack">Product Name- Z to A</option>
                    <option value='ASC'>Price (Low to High)</option>
                    <option value='DESC'>Price (High to Low)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row g-5">
                          
            <div class="row filter_data">
            </div>
              
              {% for p in products %}

              <div class="col-md-6 col-xl-3" data-sal-duration="800">
              <div class="edu-course course-style-1 hover-button-bg-white">
                <div class="inner">
                  <div class="thumbnail">
                    <div class="edu-product">
                      <div class="inner">
                        <div class="thumbnail">
                          
                          <a href="{% url 'lab-product-detail' p.id %}">
                            
                            <img src="{{ p.lab_image.url }}" alt="Shop Images">
                          </a>
                          <div class="product-hover-info">
                            <ul>                                
                              <li class="text-center"><a href="{% url 'lab-product-detail' p.id %}"><i class="bi bi-suit-heart"></i></a></li>

                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="content" id="product-thumbnail">

                    <h6 class="title">
                      <a href="{% url 'lab-product-detail' p.id %}" class="text--black">{{p.title}}</a>
                    </h6>
                                            <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> {{p.discounted_price}}</span> <span>MRP : <del>{{p.selling_price}}</del></span></div>
                    <ul class="course-meta">
                      <li>Ages: <span> 3+</span></li>

                    </ul>
                     <a href="{% url 'lab-product-detail' p.id %}" class="edu-btn btn-secondary btn-small">View Detail<i class="bi bi-arrow-right Right-icon"></i></a>
                  </div>
                </div>
              </div>
            </div>

</div>         
 {% endfor %}   
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}