{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block content %}
<div class="edu-breadcrumb-area about-us-images9">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Password Reset</h1>
  
        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
        </ul>
      </div>
    </div>
  </div>
<div class="container my-5">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3">
            <h4 class="alert-heading  my-5">Well Done!</h4>
            <p>An Email has been sent with instructions to reset your password. <b>
                    Check Your Email!
                </b></p>
        </div>
    </div>
</div>
{% endblock %}