{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images9">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <h1 class="title">Change Password Done</h1>

      </div>
      <ul class="edu-breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password Done</li>
      </ul>
    </div>
  </div>
</div>

<div class="container my-5">
 <div class="row">
 <h3 class="my-5">Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="edu-btn ">Back to Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Changed Successfully !!</h3>
    <div><iframe src="https://gifer.com/embed/7efs" width=480 height=360.000 frameBorder="0" allowFullScreen></iframe><p><a href="https://gifer.com"></a></p></iframe></div>
    
  </div>
 </div>
</div>
{% endblock %}