{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images9">
   <div class="container">
     <div class="breadcrumb-inner">
       <div class="page-title">
         <h1 class="title"> Reset Password</h1>

       </div>
       <ul class="edu-breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="separator"><i class="icon-angle-right"></i></li>
         <li class="breadcrumb-item"><a href="#">Pages</a></li>
         <li class="separator"><i class="icon-angle-right"></i></li>
         <li class="breadcrumb-item active" aria-current="page"> Reset Password</li>
       </ul>
     </div>
   </div>
 </div>

<div class="container my-5">
 <div class="row my-5">
   <div class="col-sm-6 offset-sm-3">
      <h1 class="div-new753">Lost your password?</h1>
      <p>Please enter your Email address. You will receive a link to create a new password via email. </p>
      {% comment %} <h3 class="my-5 alert alert-danger">Reset Password</h3> {% endcomment %}
   
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %} 
    {% for fm in form %}
    <div class="form-group">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <center><button type="submit" class="edu-btn">Submit<i class="bi bi-arrow-right Right-icon"></i></button></center>
      {% if form.non_field_errors %}
         {% for error in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{error}}</p>
       {% endfor %}
      {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock %}

<section class="mt--70 mb--70">
   <div class=content123>
<div class="wrapper-123753 ">
 <div class="wrapper-234">
   <h1 class="div-new753">Lost your password?</h1>
   <p>Please enter your Email address. You will receive a link to create a new password via email. </p>
   <div class="login-form-box login-form-box123542 ">
   
     <form id="foremailForm" method="POST" autocomplete="off">
       <div class="form-group text-align w-100">
         <label for="current-log-email font-size-s">Email Address</label>
         <input type="email" name="email" id="email" class=" w-100" style="height:31px">
       </div>
       <button type="submit" class="go-home12352 edu-btn btn-medium" name="submit">Reset Password</button>
     
     </form>
   </div>
   
 </div>

</div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</section>