{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}

<div class="edu-breadcrumb-area about-us-images2">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Privacy Policy</h1>

        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
        </ul>
      </div>
    </div>

  </div>
  <section class="privacy-policy-area terms-condition-area">
    <div class="container">
    <div class="justify-content-center row">
    <div class="col-lg-11">
       <div class="row row--30">
        <div class="col-lg-12">
          <div class="privacy-policy terms-condition">
                            <div class="text-block">
              <h3 class="title">Privacy Policy</h3>
              <p><p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</p>

<p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses.</p>
</p>
            </div>
                         <div class="text-block">
              <h3 class="title">Basic Policy</h3>
              <p><p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</p>
</p>
            </div>
                         <div class="text-block">
              <h3 class="title">Rights & Restrictions</h3>
              <p><p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</p>

<ul>
  <li>This is a sample of dummy copy text often used .</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
</ul>
</p>
            </div>
                        
            
          </div>
        </div>
       
      </div>
    
    </div>
    </div>
   
    </div>
  </section>

  {% endblock %}