{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Shop Steam Kits{% endblock title %}
{% block content %}
<div class="edu-breadcrumb-area about-us-images9">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Shop Steam Kits </h1>

        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Shop Steam Kits</li>
        </ul>
      </div>
    </div>
</div>
<section>
    <section class="shop-page-area mt--70 mb--70">
      <div class="justify-content-center row">
        <div class="col-lg-11">
          <div class="container">

            <div class="edu-sorting-area">
              <div class="sorting-left">
                <h4 class="showing-text">Shop By Steam Kits </h4>
              </div>

              <div class="sorting-right">
                <div class="edu-sorting">
                  <div class="icon"><i class="icon-55"></i></div>
                  <select class="edu-select">
                    <option>Filters</option>
                    <option>Low To High</option>
                    <option>High Low To</option>
                    <option>Last Viewed</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row g-5">
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits2.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kit3.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">Grab your tools! It's time to get building! Learn how to use tools and build your own workbench with this introductory mechanical engineering kit for kids ages three and up. Join Ty and Karlie - the young engineers featured in the other Kids First early engineering kits</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,999</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits5.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                             <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">ROBOT FACTORY ~ Bot Robot Pioneer | Colorful Lights and Music | All Direction Movement | Dancing Robot Toys for Boys and Girls | Multi-Colour</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 2,199</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits6.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits7.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits8.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">Grab your tools! It's time to get building! Learn how to use tools and build your own workbench with this introductory mechanical engineering kit for kids ages three and up. Join Ty and Karlie - the young engineers featured in the other Kids First early engineering kits</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,999</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits87.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">ROBOT FACTORY ~ Bot Robot Pioneer | Colorful Lights and Music | All Direction Movement | Dancing Robot Toys for Boys and Girls | Multi-Colour</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 2,199</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/kits09.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                             <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                        <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/wind022.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">CRAWLERS- ROBOTICS FOR KID Ideal for Boys/Girls 3+ years</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,899</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                            <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/worters.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                                  
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">Grab your tools! It's time to get building! Learn how to use tools and build your own workbench with this introductory mechanical engineering kit for kids ages three and up. Join Ty and Karlie - the young engineers featured in the other Kids First early engineering kits</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 1,999</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                            <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-md-6 col-xl-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-course course-style-1 hover-button-bg-white">
                  <div class="inner">
                    <div class="thumbnail">
                      <div class="edu-product">
                        <div class="inner">
                          <div class="thumbnail">
                            <a href="#">
                              <img src="http://iqnaax.com/images/giga.png" alt="Shop Images">
                            </a>
                            <div class="product-hover-info">
                              <ul>
                              
                                <li class="text-center"><a href=""><i class="bi bi-suit-heart"></i></a></li>
                             
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="content">

                      <h6 class="title">
                         <a href="#">ROBOT FACTORY ~ Bot Robot Pioneer | Colorful Lights and Music | All Direction Movement | Dancing Robot Toys for Boys and Girls | Multi-Colour</a>
                      </h6>
                      <div class="course-rating">
                        <div class="rating">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <span class="rating-count">6,550 Rating</span>
                      </div>
                      <div class="course-price"> <span class="del-new">₹</span><span class="a-price "> 2,199</span> <span>MRP : <del>12900</del></span></div>
                      <ul class="course-meta">
                        <li>Ages: <span> 36 months - 4 years</span></li>

                      </ul>
                            <a href="" class="edu-btn btn-secondary btn-small">Add Cart<i class="bi bi-arrow-right Right-icon"></i></a>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    {% endblock %}