{% extends "myapp/base.html" %}
{% load static %}
{% block title %}Terms And Condition{% endblock title %}
{% block content %}
<div class="edu-breadcrumb-area about-us-images2">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Terms And Condition</h1>

        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Terms And Condition</li>
        </ul>
      </div>
    </div>

  </div>
  <section class="privacy-policy-area terms-condition-area">
    <div class="container">
    <div class="justify-content-center row">
    <div class="col-lg-11">
       <div class="row row--30">
        <div class="col-lg-12">
          <div class="privacy-policy terms-condition">
                            <div class="text-block">
              <h3 class="title">Terms and Conditions</h3>
              <p><h1>Terms and Conditions</h1>

<p><strong>These terms and conditions are a legally binding agreement between Iqnaax&nbsp;and the users (You) of the Iqnaax&nbsp;Website, Products, and services, as described below.</strong></p>

<p>This agreement explains all the necessary points pertaining to our terms and conditions and may be modified by us from time to time. This agreement (inclusive of all terms and conditions) applies to all types of visitors, users, others who access the website (&ldquo;Users&rdquo;), and buyers of Iqnaax products and services.</p>

<p>Please ensure that you read through all the terms &amp; conditions and fully understand the contents of this agreement. If you have any doubts or questions about your rights and obligations which could result from your acceptance of our agreement, kindly get in touch and consult with us.</p>

<p><strong>By using or accessing our website, you signify that you have read through, fully understood, and agreed to abide by this agreement and have given your consent to us for the collection and use of your information as per the Iqnaax privacy policy.</strong></p>

<blockquote>
<p><strong>Tangible or intangibles products, services, courses, books, educational content, tutorials, software or apps downloaded or bought from this website (https://iqnaax.com/), any sub-domains of Iqnaax, third party store/affiliations (for example Google PlayStore, Apple AppStore, Windows Store, online software or app listing portals, etc), any kind of media, or social media, are for self-consumption only, and the users or buyers are not authorized to resell/co-brand it with other products or services/demonstrate in any other offline or online channels/use it for business activities, unless formally approved by us&nbsp;in written communication.</strong></p>
</blockquote>

<h2>1. Our Company</h2>

<p>Iqnaax is registered in Indore, Madhya Pradesh, India, and our registered office is at EH 52, Scheme No. 54, Vijay Nagar, Indore 452001 - Madhya Pradesh, India. We operate the website &ldquo;www.iqnaax.com&rdquo;.</p>

<h2>2. Trademarks</h2>

<p>All page headers, graphics, logos, service names, etc. available/posted on our website are trademarks of Iqnaax. We don&rsquo;t give any rights to any party or user to use our trademarks &ndash; service &amp; product names, logos, graphics, other information posted on the website without a written permission of Iqnaax.</p>

<h2>3. Copyright &amp; Content</h2>

<p>Any content like logos, graphics, pictures, textual, audios, videos and data made available on the website are properties of Iqnaax and have been protected by copyright laws. The information, content (as mentioned above) made available through the website is the exclusive property of Iqnaax, protected by the copyright laws. Iqnaax reserves all rights of the content being posted on the website and the content not expressly granted on the website.</p>

<h2>4. User Login Credentials</h2>

<p>You are solely responsible for your login and password credentials. Please do NOT share your user login and password with anyone and ensure that your login credentials are NOT misused by anyone.</p>

<h2>5.&nbsp;Guarantee/Warranty</h2>

<p>All our parts are covered by different warranty periods which are shown on respective pages, indicating that products are free from any defects in materials and workmanship. For products like electronic parts, the warranty is covered only when the full batch of an item is defective. If defects arise during this period, we will at our option, repair or replace the goods purchased or refund your money. Our liability under this warranty is subject to us being satisfied that the material is faulty due to poor materials or workmanship. We will not be responsible for any damage caused by incorrectly connecting or improper use of the material. Furthermore, we will not be liable for any damage to third party or attached equipment to which these products are used.</p>

<p>All decisions regarding the warranty acceptance will be taken by Iqnaax and shall be accepted by customers. Agilo Research may or may not charge for repairs and return shipping if item&rsquo;s warranty is void due to any reasons.</p>

<h2>6. Terms and Condition of Sales</h2>

<p>Unless it is explicitly agreed in writing, the conditions as set out below apply to all transactions for the sales of goods and materials, design services by Iqnaax to the buyers of goods and/or Services.</p>

<p>These conditions apply to all orders placed with Iqnaax by the buyers. The acceptance by Iqnaax of any order is conditional upon the acceptance of these conditions by the buyers, which shall override all other terms and conditions inconsistent herewith &ndash; whether expressed, implied or including terms, conditions or stipulations contained in the buyer&rsquo;s purchase order or other form of writing or otherwise stipulated by a buyer with variances or additional to these Conditions. The same shall not be binding upon Iqnaax unless specifically accepted and signed by Iqnaax.</p>

<p>The acceptance of a purchase order by Iqnaax cannot be construed or implied to create an obligation on Iqnaax part to accept, subsequent purchase orders for any of the goods and/or services.</p>

<h2>7. Prices</h2>

<p>The prices of the Goods or Services are the current list of prices as displayed on the website and are inclusive of taxes, delivery and&nbsp;packaging charges.</p>

<p>Iqnaax reserves all the rights to adjust the prices of any products/services at any point in time.</p>

<p>8. Payment of Goods/Services</p>

<p>Unless a credit account has been set up prior to sale, a payment is due prior to shipment of the Goods or performance of services. In the case of an approved credit account, the payment is required to be made as per agreed timelines.</p>

<h2>9. Delivery of Goods</h2>

<p>A delivery occurs when the Goods are handed over to the buyer, a courier company or a delivery representative. Delivery dates quoted are approximate only and Iqnaax will not be liable for any delay in the delivery of the Goods.</p>

<p>If the buyer fails to take delivery of the Goods or fails to give adequate delivery instructions &amp; it returns to Iqnaax, then Iqnaax reserves all the rights to decide whether to resend the parcel or not.</p>

<p>Any claim by the buyers or users for non or incorrect delivery must be advised to Iqnaax within 7 days of a goods receipt.</p>

<h2>10. Risk and Property</h2>

<p>A risk of damage to or a loss of the goods passes on delivery or &ndash; &nbsp;if a buyer fails to take delivery without a good cause at the time when the delivery is tendered.</p>

<p>The title to and the property in the Goods does not pass to a buyer until Iqnaax has received a full payment of the price and all other sums due to Iqnaax from the buyer.</p>

<h2>11. Limitation of Liability</h2>

<p>All buyers shall accept the sole responsibility for and Iqnaax shall not be liable for any use of the goods by the buyers. Iqnaax&rsquo;s agents and employees and buyers shall hold Iqnaax harmless and fully indemnify against any claims, costs, damages, loss, and liabilities arising out of such use.</p>

<p>Iqnaax is not liable to any of the buyers because of any representation, or any warranty (expressed or implied), conditions or other terms, or any duty in common law, or under the expressed terms of the Contract, for : (a) any loss of profit, business contracts, opportunity, goodwill, revenue, anticipated savings, expenses, costs or similar loss; and/or (b) any indirect, special or consequential loss or damage; and in the case of either paragraph (a) or (b) above whether caused by negligence, breach of contract, tort, or breach or statutory duty of Agilo Research, arising out of or in connect with the contract.</p>

<p>Any other liability of Iqnaax to the buyers in contract, tort, negligence, breach of statutory duty or otherwise arising out of or in connection with the contract is limited to the price.</p>

<h2>12. Confidentiality Agreement</h2>

<p>All users/buyers must always keep the confidential information acquired in consequence of the contract, including business correspondence, technical literature, except for information which is bound to be disclosed by law or to its professional advisers where it is necessary for the performance of their professional services.</p>

<p>The users agree not to disclose any confidential information of Iqnaax to anyone, unless and until it is required to do so by law.</p>

<h2>13.&nbsp;User-Generated Content</h2>

<p>User-Generate Content includes any comments, projects, forum posts or links directed to third party websites that users submit to Iqnaax.</p>

<p>Iqnaax encourages every user to foster and heave up creativity by sharing art, works, and projects on Iqnaax. We also understand the needs to protect the rights of users for their content &ndash; hence, users are responsible for protecting their rights of sharing content on the Iqnaax website.</p>

<p>If you notice a violation of any of terms and policies with respect this agreement, we request you to please let us know/bring to our attention immediately, so that necessary steps can be actioned accordingly.</p>

<h2>14.&nbsp;Termination and cancellation of User Rights/Account</h2>

<p>Iqnaax reserves all rights to terminate and cancel user rights and account of anyone without giving a prior notice if a user doesn&rsquo;t comply with the mentioned terms and conditions.</p>

<h2>15. General</h2>

<p>These conditions and the documents referred to in them, set out the entire agreement between the Parties and supersede any prior written or oral agreement between them relating to the subject matter of the Contract and the buyers acknowledge that in entering into the contract or agreement, it has not relied on any representation, not expressly set out in the contract.</p>

<p>If any provision of these conditions is held to be illegal, void or unenforceable, the legality, validity and enforceability of the remainder of the Contract is not to be affected.</p>

<p>Nothing in this contract excludes liability for fraud.</p>

<p>No person (either legal or natural) who is not a party has a right to enforce any term or condition of the Contract.</p>

<p>All suspected fraud causes are to be handed directly to the relevant authorities without exception.</p>

<p>Iqnaax reserves all rights to change pricing even upon successful checkout after communicating with customers.</p>

<p>Subject to Indore Jurisdiction only.</p>
</p>
              
            </div>
                          <div class="text-block">
              <h3 class="title">Basic Terms</h3>
              <p><p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</p>

<p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses.</p>
</p>
              
            </div>
                          <div class="text-block">
              <h3 class="title">Rights & Restrictions</h3>
              <p><p>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</p>

<ul>
  <li>This is a sample of dummy copy text often used .</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
  <li>This is a sample of dummy copy text often used to show page layout and design as sample layout text by Graphi designers, Web designers, People creating templates, and many other uses</li>
</ul>
</p>
              
</div>
    </div>
        </div>
       </div>
    
    </div>
    </div>
   
    </div>
  </section>


{% endblock %}